/*==================== Main CSS ====================*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}

/********************* Scroll Indicator **********************/
.scroll-indicator {
  position: fixed;
  bottom: 20%; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}

.scroll-indicator .mouse {
  width: 24px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 16px;
  position: relative;
  margin-bottom: 10px;
}

.scroll-indicator .mouse::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollPulse 1.2s ease-in-out infinite;
}

@keyframes scrollPulse {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) translateY(8px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

/* ********************* Scroll-to-Top Button Styles ********************* */
.scroll-to-top-btn {
  position: fixed;
  bottom: 60px;
  right: 30px;
  background-color: #ff004f;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.scroll-to-top-btn:hover {
  opacity: 1;
}

.scroll-to-top-btn i {
  font-size: 24px;
}

/* Hide the button by default */
.hidden {
  display: none;
}

/*==================== Home Section ====================*/
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text .text-1 {
  font-size: 27px;
}

.header-text .text-2 {
  font-size: 75px;
  font-weight: 700;
  margin-left: -3px;
}

.header-text .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.header-text .text-3 span {
  color: #ff004f;
  font-weight: 600;
}

.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 240px;
}

nav ul li {
  display: inline-block;
  /*horizontal alignment*/
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/*==================== About Section ====================*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-1.image-container {
  position: relative;
  display: inline-block;
}

.click-me {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 700;
}

.image-container:hover {
  transform: translateY(-10px);
}

.image-container:hover .click-me {
  display: block;
}

.about-col-2 {
  flex-basis: 60%;
  color: white;
  text-align: justify;
}

#static-paragraph {
  opacity: 1;
  transition: opacity 3s ease;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.sub-title span {
  color: #ff004f;
}

.tab-titles {
  display: flex;
  margin: 40px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents {
  display: none;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
  font-weight: 600;
}

.tab-contents.active-tab {
  display: block;
}

.portfolio-links {
  margin-top: 30px;
}

.portfolio-links a {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.portfolio-links a:hover {
  color: #ff004f;
}

/********************* Skills Section **********************/
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: #ff004f;
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
  font-size: 1.125rem;
}

.skills__subtitle {
  font-size: 0.813rem;
  color: #ababab;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  padding-left: 2.7rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.skills__titles {
  background-color: transparent;
  border: 2px solid #ff004f;
  padding: 0.1rem 0.6rem;
  width: fit-content;
  border-radius: 0.5rem;
  margin: 0.5rem 0.5rem;
}

.skills__name {
  font-size: 0.938rem;
  font-weight: 500;
  color: #ff004f;
}

.skills__name a {
  text-decoration: none !important;
  color: #ff004f;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/********************* Experience-Education Section **********************/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification__button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification__button:hover {
  color: #ff004f;
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: 16px;
  font-weight: 700;
  color: #ff004f;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 0.75rem;
}

.qualification__calendar {
  font-size: 0.8rem;
  font-weight: 700;
  color: #9b9b9b;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #ff004f;
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1.5px;
  height: 100%;
  background-color: #ff004f;
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: #ff004f;
}

/*************** Coding Profile Section ****************/
.coding-profile__container {
  padding: 10px;
  margin-top: -20px;
}

.coding-profile__container h3 {
  font-size: 1.125rem;
  margin-bottom: 10px;
  /* color: #ff004f; */
}

.coding-profile__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.coding-profile__item {
  display: flex;
  align-items: center;
}

.coding-profile__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.coding-profile__subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.coding-profile__description {
  font-size: 16px;
  color: #666;
}

.coding-profile__count {
  font-size: 20px;
  font-weight: bold;
  color: #ff004f;
  margin-left: 5px;
}

.coding-profile__count::after {
  content: "+";
  color: #ff004f;
  font-size: 24px;
}

/*************** Social Profile Section ****************/
.social-profile__container {
  padding: 10px;
}

.social-profile__container h3 {
  font-size: 1.125rem;
  margin-bottom: 10px;
  /* color: #ff004f; */
}

.social-profile__content {
  display: flex;
  justify-content: flex-start;
}

.social_profile-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #ababab;
  transition: transform 0.5s;
}

.social_profile-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

/* *************** Other Portfolios Section *************** */
.other-portfolio__container {
  padding: 10px;
}

.other-portfolio__container h3 {
  font-size: 1.125rem;
  margin-bottom: 10px;
  /* color: #ff004f; */
}

.other-portfolio__content {
  display: flex;
  justify-content: flex-start;
}

/*==================== Services Section ====================*/
#services {
  padding: 30px 0;
  margin-bottom: 180px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  justify-items: center;
}

.services-list div {
  background: #262626;
  padding: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ff004f;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.services-list div p {
  margin-bottom: 20px;
  text-align: justify;
}

.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div a i {
  font-size: 12px;
  margin-left: 8px;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

.services-list div:hover i {
  color: white;
}

/*==================== Portfolio Section ====================*/
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.project-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(237, 237, 237, 0, 6);
  flex-wrap: wrap;
  margin: 20px;
}

.project-filter li {
  margin: 10px;
  padding: 5px 20px;
  color: #9b9b9b;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  list-style-type: none;
}

.active-filter {
  background: #f0f0f0;
  color: #272727;
  border-radius: 20px;
}

.project-filter li.active-filter {
  background: #f0f0f0;
  color: #272727;
  border-radius: 20px;
}

.portfolio-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.portfolio-container.active-filter-selected {
  display: flex;
}

.portfolio-box {
  position: relative;
  width: 330px;
  padding: 15px;
  border: 1px solid #eeeeee;
  margin: 20px;
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.project-title {
  color: #eeeeee;
  font-size: 12px;
  text-align: center;
  margin-bottom: -8px;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text2 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.overlay-text3 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.portfolio-box:hover .overlay {
  opacity: 1;
}

/* ==================== Certificates Section ==================== */
#certificates {
  padding: 40px 0;
  text-align: center;
  margin-bottom: 180px;
}

.certificate-headline {
  margin-bottom: 20px;
}

.certificate-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.certificate-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.certificate-container:hover img {
  transform: scale(1.05);
}

.certificate-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -70px;
  right: -70px;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.certificate-container:hover .certificate-controls {
  opacity: 1;
}

.certificate-controls img {
  cursor: pointer;
  width: 40px;
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
}

.certificate-controls img:hover {
  transform: scale(1.1);
}

.certificate-controls .prev {
  order: 1;
}

.certificate-controls .next {
  order: 3;
}

/*==================== Contact Section ====================*/
.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
  font-weight: 600;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #ababab;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: background 0.5s;
}

.btn3 {
  margin: 20px auto;
}

.btn:hover {
  background: #ff004f;
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/********************* Copyright Section **********************/
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  color: white;
  font-weight: 600;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink-text {
  animation: blink 1s infinite;
}

/* ---------------Profile count--------------- */
.profile-count {
  text-align: right;
  font-weight: 600;
  justify-content: flex-end;
  margin-right: 20px;
  color: #ff004f;
}

.profile-count span {
  background-color: #262626;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/*==================== Responsiveness ====================*/

nav .fa-solid {
  display: none;
}

/********************* Media Quries **********************/

@media (max-width: 768px) {
  .header-text {
    margin-top: 100%;
  }

  .header-text .text-2 {
    font-size: 60px;
  }

  nav ul li {
    margin: 10px 10px;
  }

  .sub-title {
    font-size: 40px;
  }

  .services-list div,
  .portfolio-box,
  .qualification-box {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .certificate-controls {
    left: 0;
    right: 0;
    transform: translateY(0);
    top: 0;
    margin-top: 30%;
    bottom: unset;
    padding: 5px 20px;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
  }

  .certificate-controls img {
    margin: 0;
    width: 30px;
  }

  .certificate-container img {
    border-radius: 8px 8px 0 0;
  }
}

@media (max-width: 740px) {
  .portfolio-filter {
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .portfolio-filter-active {
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
  }

  .portfolio-box {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/responsive_background.png);
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text .text-1 {
    font-size: 16px;
  }

  .header-text .text-2 {
    font-size: 30px;
    font-weight: 700;
    margin-left: -3px;
  }

  .header-text .text-3 {
    font-size: 20px;
    margin: 5px 0;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
    padding-left: 10px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .row {
    flex-direction: column;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }

  .about-col-1 img {
    margin-top: 30px;
  }

  .portfolio-box,
  .qualification-box {
    flex-basis: 100%;
    max-width: 100%;
  }

  .services-list div,
  .portfolio-box,
  .qualification-box {
    width: 100%;
  }

  .skills__title {
    text-align: justify;
  }

  .contact-form {
    width: 100%;
  }

  .social-profile__content {
    justify-content: center;
  }

  .other-portfolio__content {
    justify-content: center;
  }

  .coding-profile__container h2 {
    font-size: 20px;
  }

  .social-profile__container h2 {
    font-size: 20px;
  }

  .other-portfolio__container h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .header-text {
    margin-top: 100%;
  }

  .header-text .text-2 {
    font-size: 40px;
  }

  nav ul li {
    margin: 10px 5px;
  }

  .sub-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  .about-col-1 .image-container,
  .about-col-2 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .about-col-1 img {
    margin-top: 20px;
  }

  .portfolio-box,
  .qualification-box {
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-filter {
    display: flex;
    justify-content: center;
  }

  .project-filter li {
    margin: 0 5px;
  }

  .services-list div,
  .portfolio-box,
  .qualification-box {
    width: 100%;
  }

  #services {
    padding: 30px 0;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }

  .services-list div {
    background: #262626;
    padding: 30px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }

  .services-list div i {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .services-list div h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .services-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
  }

  .services-list div a i {
    font-size: 10px;
    margin-left: 6px;
  }

  .services-list div:hover {
    background: #ff004f;
    transform: translateY(-5px);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form {
    width: 100%;
  }

  .btn.btn2 {
    display: flex;
    justify-content: center;
  }

  .certificate-headline {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .project-heading h1 {
    font-size: 1.8rem;
  }

  .tab-titles {
    display: flex;
    margin: 20px 0 30px;
  }

  .tab-links {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    position: relative;
  }
}
